.cart {
	
	text-align: center;
	width: 15px;
	height: 40px;
	float: left;
	background-color: orange;
	border-radius: 30px;
	margin-top: 30px;
	margin-left: auto;
	
}

.cangiuacart {
	display:table;
	margin: 0px auto;
	top: 25%;
}
.cangiuacart img {
	float: left;
	height: auto;
	width: auto;
}

.cangiuacart p a{
	text-align: center;
	float: left;
	color: white;
	text-decoration: none;
}


* {
	padding: 0;
	margin: 0;
}

.web {
	padding-top: 30px;
	padding-left: 30px;
}

/* .content3 img {
	float: left;
	width: 30%;
	border-radius: 100px;
} */

.noti {
	margin-top: 30px;
	margin-left: 30px;
	width: 100%;
	float: left;
}

.noti h3 {
	width: 100%;
	text-align: center;
}

.gach {
	width: 100%;
	height: 1px;
	background-color: green;
	float: left;
	margin-top: 10px;
}

.chitiet {
	width: 100%;
	text-decoration: none;
	color: #000;
	float: left;
}

/* .content3 {
	margin-top: 50px;
	width: 50%;
	height: 250px;
	float: left;
	font-size: 25px;
} */











.list {
	width: 100%;
	float: left;
	display:flex;
  	flex-direction:row;
  	flex-wrap:wrap;
}

.content3 {
	margin-top: 30px;
	float: left;
 	width: auto;
/* 	width: calc(100% / 5); */
	margin-right: 30px;
	height: auto;
/* 	flex:auto; */
}


/* .categories-background {
		display: flex;
		flex-direction:column;
		width: 100%;
		flex-wrap:wrap;
	} */

.content3 img {
	float: left;
	height: 200px;
	width: 100%;
	border-radius: 15px;
}

.content3 h4 {
	float: left;
	font-size: 20px;
	width: 100%;
	margin-top: 14px;
	text-align: center;
}

.content3 h5 {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 14px;
	font-weight: normal;
}

.content3 h4 a {
	color: #000;
	text-decoration: none;
}

.content3 h4 a:hover {
	color: orange;
}

















.text_login {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
}

.text_login a {
	text-decoration: none;
	color: #000;
}

.img {
	float: left;
	height: 200px;
	width: 200px;
}

.img img {
	width: 200px;
	height: 200px;
}

.infor {
	width: 50%;
	margin-left: 30px;
	float: left;
	margin-left: 30px;
}

.infor a {
	width: 100%;
	float: left;
}

.infor a:hover {
	color: orange;
}

.footer {
	margin-top: 30px;
	height: 300px;
	float: left;
	width: 100%;
	background-color: #80BB35;
}

.contact {
	float: left;
	padding: 50px 0 0 100px;
	width: 35%;
}

.facebook {
	padding: 50px 0 0 0;
	width: 30%;
	float: left;
}

.map {
	padding: 50px 0 0 0;
	width: 25%;
	float: left;
}

.header {
	/*border: dotted;*/
	width: 100%;
	float: left;
}

.name_of_web {
	/*border: dashed;*/
	float: left;
	width: 30%;
	color: #80BB35;
	font-size: 30px;
}

.transport {
	/*border: dashed;*/
	width: 17%;
	float: left;
	margin-top: 20px;
}

.icon_transport {
	/*border: dashed;*/
	width: 15%;
	float: left;
}

.text_transport {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	/*border: dashed;*/
	width: 80%;
	float: left;
}

.free_transport {
	font-style: bold;
}

.imgpro {
	width: 30px;
	height: 30px;
}



/* .cart img {
	width: auto;
	height: auto; 
	margin-top: 8px;
 	margin-left: 25px;
	float: left;
}

.cart p {
	float: left;
	margin-top: 10px;
 	margin-left: auto;
	color: white;
}

.cart p a {
	font-size: 15px;
	text-decoration: none;
	color: white;
} */

.menu {
	border-radius: 15px;
	margin-top: 20px;
	background-color: #80BB35;
	width: 100%;
	float: left;

	/* display: flex; */								/* nhung ul trang chu, khuyen mai, lien he ko tu xuong dong (du co bao boi div)*/
}

.menu ul li {
	font-size: 18px;
	font-weight: bold;
	color: white;
	list-style-type: none;
	float: left;
	padding: 15px 30px 15px 30px;
}

.menu ul li:hover {
	background-color: orange;
}

.menu ul li a {
	text-decoration: none;
	color: white;
}

.gach {
	width: 100%;
	background-color: green;
	height: 1px;
}

.categories {
	float: left;
	margin-top: 50px;
	width: 22%;
}

.categories p {
	font-size: 20px;
	border-radius: 15px;
	padding: 8px 0 8px 50px;
	background-color: #80BB35;
	color: white;
}

.categories ul li {
	list-style-type: kannada;
	padding-left: 15px;
	margin-left: 30px;
	margin-top: 20px;
}

.categories ul li:hover {
	color: orange;
	font-size: 20px;
}

.categories ul li a {
	color: #000;
	text-decoration: none;
}

.infor h6 {
	width: 100%;
	margin-top: 30px;
	color: #000;
	float: left;
	font-size: 12px;
}

.background {
	width: 100%;
	float: left;
 	margin-top: 50px;
/* 	margin-left: 20px; */
}

.background img {
	border-radius: 15px;
	width: 100%;
	height: 400px; 
	overflow: hidden;					/*set same size for img*/
	float: left;
/* 	margin-left: 50px; */
}

.footer {
	margin-top: 30px;
	height: auto;
	float: left;
	width: 100%;
	background-color: #80BB35;
}

.contact {
	float: left;
	padding: 20px 0 0 100px;
	width: 35%;
}

.address {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.address p {
	float: left;
	margin-top: 2px;
	color: white;
	margin-left: 10px;
	width: 92%;
}

.address img {
	width: 5%;
	height: 5%;
	float: left;
}

.facebook {
	padding: 50px 0 0 0;
	width: 30%;
	float: left;
}

.fb-page {
	margin-top: 30px;
}

.search {
	margin-left: 15px;
	height: 100%;
	width: 50%;
	float: left;
}

.search form {
	height: 100%;
	width: 300px;
	margin-left: auto;
	padding-top: 15px;
}

.fb-page iframe {
	border: none;
	overflow: hidden;
}

.name_of_web h1 a {
	color: #80BB35;
	text-decoration: none;
}

.map {
	padding: 50px 0 0 0;
	width: 25%;
	float: left;
}

.map p {
	color: white;
	font-size: 20px;
}

.map iframe {
	margin-top: 30px
}

.center {
	text-align: center;
	position: relative;
}

.facebook p {
	font-size: 20px;
	color: #fff;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
html { font-size:100%; }

@media (max-width:480px) { body {font-size:1.5rem;} img { max-width: 100%; height: auto;}
    
    .content3{
    width:calc(100% / 2);
  }
  
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;} 

    }
@media (min-width:768px) { body {font-size:1.2rem;} img { max-width: 100%; height: auto;} 
	
	.content3{
    width:calc(100% / 4);
  }
  
	.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    } 
    
@media (min-width:1024px){
 
  .content3{
    width:calc(100% / 5);
  }
  .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body {font-size:1.5rem;} img { max-width: 100%; height: auto;}
}