<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebBanDoAn-r</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>servlet.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>servlet.Admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/system</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themmon</display-name>
    <servlet-name>themmon</servlet-name>
    <servlet-class>servlet.themmon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themmon</servlet-name>
    <url-pattern>/themmon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suamon</display-name>
    <servlet-name>suamon</servlet-name>
    <servlet-class>servlet.suamon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suamon</servlet-name>
    <url-pattern>/suamon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoamon</display-name>
    <servlet-name>xoamon</servlet-name>
    <servlet-class>servlet.xoamon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoamon</servlet-name>
    <url-pattern>/xoamon</url-pattern>
  </servlet-mapping>
</web-app>